body{
    background-color: #161a1b;
    color: white;
}
header{
    background-color:#C4C4C4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style: none;
}

.navTop .navItem{
    display: inline-block;
}
.navItem{
    padding: 10px 20px;
}
.navItem a{
    padding: 10px 20px;
    display: inline-block;
}

.navTop{
    margin: 0px;

}
.logo{
height: 45px;
}

a{
    text-decoration: none;
}

.projectLayout{
    background-image: linear-gradient(to right,rgba(247,247,247,0), rgba(247,247,247,1));
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    margin-bottom: 48px;
}

.projectLayout2{
    background-image: linear-gradient(to right, rgba(247,247,247,1),rgba(247,247,247,0));
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    margin-bottom: 48px;
}

.projectImage{
    width: 100%;
    height: auto;

}

.featuredDesigns{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active{
    display: flex !important;
}

.inactive{
    display: none;
}

@media only screen and (max-width: 600px) {
    .projectLayout{
        background-image: linear-gradient(to bottom,rgba(247,247,247,0), rgba(247,247,247,1)); 
        grid-template-columns: 1fr;
        width: 100%;
    }
}